{@org.acme.users.application.model.ReservationView[] reservations}

{#if reservations.size > 0}
<div class="table-responsive">
<table class="table table-striped align-middle">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Car ID</th>
    <th>Start day</th>
    <th>End day</th>
  </tr>
  </thead>
  <tbody>
  {#for i in reservations}
    <tr>
    <td>{i.id}</td>
    <td>{i.carId}</td>
    <td>{i.startDay}</td>
    <td>{i.endDay}</td>
    </tr>
  {/for}
  </tbody>
</table>
</div>
{#else}
<p class="text-muted">No reservations yet.</p>
{/if}